apiVersion: v1
kind: Service
metadata:
  name: keycloak-db
spec:
  ports:
  - port: 5432
  selector:
    app: keycloak-db
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak-db
  template:
    metadata:
      labels:
        app: keycloak-db
    spec:
      containers:
      - name: postgres
        image: postgres:15
        env:
        - name: POSTGRES_DB
          value: keycloak
        - name: POSTGRES_USER
          value: keycloak
        - name: POSTGRES_PASSWORD
          value: password
---
apiVersion: v1
kind: Service
metadata:
  name: keycloak
spec:
  type: NodePort
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    nodePort: 30080
  selector:
    app: keycloak
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
      - name: keycloak
        image: quay.io/keycloak/keycloak:latest
        args: ["start-dev"]
        env:
        - name: KC_DB
          value: postgres
        - name: KC_DB_URL
          value: jdbc:postgresql://keycloak-db/keycloak
        - name: KC_DB_USERNAME
          value: keycloak
        - name: KC_DB_PASSWORD
          value: password
        - name: KC_BOOTSTRAP_ADMIN_USERNAME
          value: admin
        - name: KC_BOOTSTRAP_ADMIN_PASSWORD
          value: admin
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: react-auth-service
spec:
  type: NodePort
  selector:
    app: react-auth-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30030
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-auth-app
  labels:
    app: react-auth-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: react-auth-app
  template:
    metadata:
      labels:
        app: react-auth-app
    spec:
      containers:
      - name: react-auth-app
        image: kranthiazure27/react-auth:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 80
